<aside class="model-properties" data-ng-class="{'active': $ctrl.visible}">

	<span class="action" data-ng-click="$ctrl.changeVisible()">
		<i class="fa angle-double-icon" data-ng-class="!$ctrl.visible ? 'fa-angle-double-left' : 'fa-angle-double-right'"></i>
	</span>

	<div class="properties-content old">

		<div class="form-group" ng-if="$ctrl.configuration.emptyState">
			<div class="empty-state">
				<i class="fa fa-mouse-pointer" aria-hidden="true"></i>
				<p>{{ 'Select an element to edit' | translate }}</p>
			</div>
		</div><!-- End .form-group -->

		<div class="form-group" ng-if="($ctrl.configuration.entity && $ctrl.visible)">
			<div class="form-group">
				<label for="entry-name">{{ 'Name' | translate }}</label>
				<input id="entry-name" type="text" class="form-control" data-ng-model="$ctrl.selectedElement.value"
					ng-change="$ctrl.updateName($ctrl.selectedElement.value)" autofocus/>
			</div><!-- End .form-group -->

			<div class="form-group clearfix">
				<label for="">{{ 'Specialize' | translate }}</label>
				<dropdown on-select="$ctrl.extendEntity(selected)" selected="{name: 'Selecione', type: 'empty'}"
					options="[{name: '(t, d)', type: '(t, d)'}, {name: '(t, c)', type: '(t, c)'}, {name: '(p, d)', type: '(p, d)'}, {name: '(p, c)', type: '(p, c)'}]">
				</dropdown>
			</div>
			<div class="checkbox">
				<label for="titular">
					<input
						id="titular"
						type="checkbox"
						ng-model="$ctrl.selectedElement.element.model.attributes.titular"
						ng-change="$ctrl.swapTitular($ctrl.selectedElement.element.model.attributes.titular)"
					> {{ 'Titular' | translate }}
				</label>
			</div>

			<div class="form-group">
				<label for="">{{ 'Self relationship' | translate }}</label>
				<div>
					<a class="br-button" ng-click="$ctrl.addAutoRelationship()">{{ 'Add' | translate }}</a>
				</div>
			</div>
		</div><!-- End .form-group -->

		<div class="form-group" ng-if="($ctrl.configuration.link && $ctrl.visible)">
			<div class="form-group clearfix">
				<label for="">{{ 'Cardinality' | translate }}</label>
				<dropdown on-select="$ctrl.updateCardinality(selected)"
					selected="{name: $ctrl.selectedElement.value.cardinality, type: $ctrl.selectedElement.value.cardinality}"
					options="[{name: '(0, n)', type: '(0, n)'}, {name: '(0, 1)', type: '(0, 1)'}, {name: '(1, 1)', type: '(1, 1)'}, {name: '(1, n)', type: '(1, n)'}]">
				</dropdown>
			</div>

			<div class="form-group">
				<label for="entry-name">{{ 'Role' | translate }}</label>
				<input id="entry-name" type="text" class="form-control" data-ng-model="$ctrl.selectedElement.value.role"
					ng-change="$ctrl.updateLinkRole($ctrl.selectedElement.value.role)" />
			</div><!-- End .form-group -->

			<div class="form-group">
				<div class="checkbox">
					<label for="weak">
						<input id="weak" type="checkbox" ng-model="$ctrl.selectedElement.value.weak"
							ng-click="$ctrl.updateLinkWeak(!$ctrl.selectedElement.value.weak)" />{{ 'Weak' | translate }}
					</label>
				</div>
			</div><!-- End .form-group -->
		</div><!-- End .form-group -->

		<div class="form-group" ng-if="($ctrl.configuration.extension && $ctrl.visible)">
			<div class="form-group clearfix">
				<label for="">{{ 'Edit' | translate }}</label>
				<dropdown on-select="$ctrl.updateName(selected.type)"
					selected="{name: $ctrl.selectedElement.value, type: $ctrl.selectedElement.value}"
					options="[{name: '(t, d)', type: '(t, d)'}, {name: '(t, c)', type: '(t, c)'}, {name: '(p, d)', type: '(p, d)'}, {name: '(p, c)', type: '(p, c)'}]">
				</dropdown>
			</div>
		</div><!-- End .form-group -->

		<div class="form-group" ng-if="($ctrl.configuration.attribute && $ctrl.visible)">
			<div class="form-group">
				<label for="entry-name">{{ 'Name' | translate }}</label>
				<input id="entry-name" type="text" class="form-control" data-ng-model="$ctrl.selectedElement.value.name"
					ng-change="$ctrl.updateAttributeName($ctrl.selectedElement.value.name)" autofocus/>
			</div>
			<div class="form-group clearfix">
				<label for="">{{ 'Cardinality' | translate }}</label>
				<dropdown on-select="$ctrl.updateAttributeCardinality(selected)"
					selected="{name: $ctrl.selectedElement.value.cardinality, type: $ctrl.selectedElement.value.cardinality}"
					options="[{name: '(0, n)', type: '(0, n)'}, {name: '(0, 1)', type: '(0, 1)'}, {name: '(1, 1)', type: '(1, 1)'}, {name: '(1, n)', type: '(1, n)'}]">
				</dropdown>
			</div>
			<div class="checkbox">
				<label for="compound">
					<input
						id="compound"
						type="checkbox"
						ng-model="$ctrl.selectedElement.value.composed"
						ng-change="$ctrl.swapComposed($ctrl.selectedElement.value.composed)"
					> {{ 'Composed' | translate }}
				</label>
			</div>
			<div class="form-group clearfix">
				<label for="lgpd">{{ 'LGPD' | translate }}</label>
				<tr>
					<td>
						<div class="checkbox">
							<label for="lgpd">
								<input
									id="pessoal"
									type="checkbox"
									ng-model="$ctrl.selectedElement.value.lgpd[0]"
									ng-change="$ctrl.updateAttributeLgpd($ctrl.selectedElement.value.lgpd[0],0)"
								> {{ 'Pessoal' | translate }}
							</label>
						</div>
					</td>
					<td>
						<div class="checkbox">
							<label for="lgpd">
								<input
									id="sensivel"
									type="checkbox"
									ng-model="$ctrl.selectedElement.value.lgpd[1]"
									ng-change="$ctrl.updateAttributeLgpd($ctrl.selectedElement.value.lgpd[1],1)"
								> {{ 'Sensível' | translate }}
							</label>
						</div>
					</td>
					<td>
						<div class="checkbox">
							<label for="lgpd">
								<input
									id="anonimizado"
									type="checkbox"
									ng-model="$ctrl.selectedElement.value.lgpd[2]"
									ng-change="$ctrl.updateAttributeLgpd($ctrl.selectedElement.value.lgpd[2],2)"
								> {{ 'Anonimizado' | translate }}
							</label>
						</div>
					</td>
					<td>
						<div class="checkbox">
							<label for="lgpd">
								<input
									id="criptografado"
									type="checkbox"
									ng-model="$ctrl.selectedElement.value.lgpd[3]"
									ng-change="$ctrl.updateAttributeLgpd($ctrl.selectedElement.value.lgpd[3],3)"
								> {{ 'Criptografado' | translate }}
							</label>
						</div>
					</td>
					<td>
						<div class="checkbox">
							<label for="lgpd">
								<input
									id="consentimento"
									type="checkbox"
									ng-model="$ctrl.selectedElement.value.lgpd[4]"
									ng-change="$ctrl.updateAttributeLgpd($ctrl.selectedElement.value.lgpd[4],4)"
								> {{ 'Consentimento' | translate }}
							</label>
						</div>
					</td>
					<td>
						<div class="checkbox">
							<label for="lgpd">
								<input
									id="periodoConsentimento"
									type="checkbox"
									ng-model="$ctrl.selectedElement.value.lgpd[5]"
									ng-change="$ctrl.updateAttributeLgpd($ctrl.selectedElement.value.lgpd[5],5)"
								> {{ 'Período de Consentimento' | translate }}
							</label>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="checkbox">
							<label for="lgpd">
								<input
									id="finalidade"
									type="checkbox"
									ng-model="$ctrl.selectedElement.value.lgpd[6]"
									ng-change="$ctrl.updateAttributeLgpd($ctrl.selectedElement.value.lgpd[6],6)"
								> {{ 'Finalidade' | translate }}
							</label>
						</div>
					</td>
					<td>
						<div class="checkbox">
							<label for="lgpd">
								<input
									id="compartilhado"
									type="checkbox"
									ng-model="$ctrl.selectedElement.value.lgpd[7]"
									ng-change="$ctrl.updateAttributeLgpd($ctrl.selectedElement.value.lgpd[7],7)"
								> {{ 'Compartilhado' | translate }}
							</label>
						</div>
					</td>
					<td>
						<div class="checkbox">
							<label for="lgpd">
								<input
									id="criancaAdolescente"
									type="checkbox"
									ng-model="$ctrl.selectedElement.value.lgpd[8]"
									ng-change="$ctrl.updateAttributeLgpd($ctrl.selectedElement.value.lgpd[8],8)"
								> {{ 'Criança/Adolescente' | translate }}
							</label>
						</div>
					</td>
					<td>
						<div class="checkbox">
							<label for="lgpd">
								<input
									id="identificador"
									type="checkbox"
									ng-model="$ctrl.selectedElement.value.lgpd[9]"
									ng-change="$ctrl.updateAttributeLgpd($ctrl.selectedElement.value.lgpd[9],9)"
								> {{ 'Identificador' | translate }}
							</label>
						</div>
					</td>
					<td>
						<div class="checkbox">
							<label for="lgpd">
								<input
									id="semiIdentificador"
									type="checkbox"
									ng-model="$ctrl.selectedElement.value.lgpd[10]"
									ng-change="$ctrl.updateAttributeLgpd($ctrl.selectedElement.value.lgpd[10],10)"
								> {{ 'Semi-identificador' | translate }}
							</label>
						</div>
					</td>
				</tr>
			</div>
		</div><!-- End .form-group -->

		<div class="form-group" ng-if="($ctrl.configuration.key && $ctrl.visible)">
			<label for="entry-name">{{ 'Name' | translate }}</label>
			<input id="entry-name" type="text" class="form-control" data-ng-model="$ctrl.selectedElement.value"
				ng-change="$ctrl.updateName($ctrl.selectedElement.value)" autofocus/>
				<div class="form-group clearfix">
					<label for="lgpd">{{ 'LGPD' | translate }}</label>
					<tr>
						<td>
							<div class="checkbox">
								<label for="lgpd">
									<input
										id="pessoalKey"
										type="checkbox"
										ng-model="$ctrl.selectedElement.element.model.attributes.lgpd[0]"
										ng-change="$ctrl.updateKeyLgpd($ctrl.selectedElement.element.model.attributes.lgpd[0],0)"
									> {{ 'Pessoal' | translate }}
								</label>
							</div>
						</td>
						<td>
							<div class="checkbox">
								<label for="lgpd">
									<input
										id="sensivelKey"
										type="checkbox"
										ng-model="$ctrl.selectedElement.element.model.attributes.lgpd[1]"
										ng-change="$ctrl.updateKeyLgpd($ctrl.selectedElement.element.model.attributes.lgpd[1],1)"
									> {{ 'Sensível' | translate }}
								</label>
							</div>
						</td>
						<td>
							<div class="checkbox">
								<label for="lgpd">
									<input
										id="anonimizadoKey"
										type="checkbox"
										ng-model="$ctrl.selectedElement.element.model.attributes.lgpd[2]"
										ng-change="$ctrl.updateKeyLgpd($ctrl.selectedElement.element.model.attributes.lgpd[2],2)"
									> {{ 'Anonimizado' | translate }}
								</label>
							</div>
						</td>
						<td>
							<div class="checkbox">
								<label for="lgpd">
									<input
										id="criptografadoKey"
										type="checkbox"
										ng-model="$ctrl.selectedElement.element.model.attributes.lgpd[3]"
										ng-change="$ctrl.updateKeyLgpd($ctrl.selectedElement.element.model.attributes.lgpd[3],3)"
									> {{ 'Criptografado' | translate }}
								</label>
							</div>
						</td>
						<td>
							<div class="checkbox">
								<label for="lgpd">
									<input
										id="consentimentoKey"
										type="checkbox"
										ng-model="$ctrl.selectedElement.element.model.attributes.lgpd[4]"
										ng-change="$ctrl.updateKeyLgpd($ctrl.selectedElement.element.model.attributes.lgpd[4],4)"
									> {{ 'Consentimento' | translate }}
								</label>
							</div>
						</td>
						<td>
							<div class="checkbox">
								<label for="lgpd">
									<input
										id="periodoConsentimentoKey"
										type="checkbox"
										ng-model="$ctrl.selectedElement.element.model.attributes.lgpd[5]"
										ng-change="$ctrl.updateKeyLgpd($ctrl.selectedElement.element.model.attributes.lgpd[5],5)"
									> {{ 'Período de Consentimento' | translate }}
								</label>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="checkbox">
								<label for="lgpd">
									<input
										id="finalidadeKey"
										type="checkbox"
										ng-model="$ctrl.selectedElement.element.model.attributes.lgpd[6]"
										ng-change="$ctrl.updateKeyLgpd($ctrl.selectedElement.element.model.attributes.lgpd[6],6)"
									> {{ 'Finalidade' | translate }}
								</label>
							</div>
						</td>
						<td>
							<div class="checkbox">
								<label for="lgpd">
									<input
										id="compartilhadoKey"
										type="checkbox"
										ng-model="$ctrl.selectedElement.element.model.attributes.lgpd[7]"
										ng-change="$ctrl.updateKeyLgpd($ctrl.selectedElement.element.model.attributes.lgpd[7],7)"
									> {{ 'Compartilhado' | translate }}
								</label>
							</div>
						</td>
						<td>
							<div class="checkbox">
								<label for="lgpd">
									<input
										id="criancaAdolescenteKey"
										type="checkbox"
										ng-model="$ctrl.selectedElement.element.model.attributes.lgpd[8]"
										ng-change="$ctrl.updateKeyLgpd($ctrl.selectedElement.element.model.attributes.lgpd[8],8)"
									> {{ 'Criança/Adolescente' | translate }}
								</label>
							</div>
						</td>
						<td>
							<div class="checkbox">
								<label for="lgpd">
									<input
										id="identificadorKey"
										type="checkbox"
										ng-model="$ctrl.selectedElement.element.model.attributes.lgpd[9]"
										ng-change="$ctrl.updateKeyLgpd($ctrl.selectedElement.element.model.attributes.lgpd[9],9)"
									> {{ 'Identificador' | translate }}
								</label>
							</div>
						</td>
						<td>
							<div class="checkbox">
								<label for="lgpd">
									<input
										id="semiIdentificadorKey"
										type="checkbox"
										ng-model="$ctrl.selectedElement.element.model.attributes.lgpd[10]"
										ng-change="$ctrl.updateKeyLgpd($ctrl.selectedElement.element.model.attributes.lgpd[10],10)"
									> {{ 'Semi-identificador' | translate }}
								</label>
							</div>
						</td>
					</tr>
				</div>
		</div><!-- End .form-group -->

		<div class="form-group" ng-if="($ctrl.configuration.relationship && $ctrl.visible)">
			<div class="form-group">
				<label for="entry-name">{{ 'Name' | translate }}</label>
				<input id="entry-name" type="text" class="form-control" data-ng-model="$ctrl.selectedElement.value"
					ng-change="$ctrl.updateName($ctrl.selectedElement.value)" autofocus/>
			</div><!-- End .form-group -->

			<div class="form-group">
				<label for="">{{ 'Associative entity' | translate }}</label>
				<div>
					<a class="br-button" ng-click="$ctrl.transformAssociative()">{{ 'Transform' | translate }}</a>
				</div>
			</div>
		</div>

	</div><!-- End .properties-content -->
</aside><!-- End .model-properties -->
